/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* General styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


/* Main containers for index page and target visualization page */
.main-container-index,
.main-container-target-visualization {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .25fr repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-image: linear-gradient(to bottom, #09203f, #1b3454, #2d4a69, #3f607f, #537895);
    height: 100vh;
}

/* Main container for target list page */
.main-container-target-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, .25fr) .75fr .25fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-image: linear-gradient(to bottom, #09203f, #1b3454, #2d4a69, #3f607f, #537895);
    height: 100vh;
}

/* Heading and caption styles */
h2,
caption {
    font-size: 1.2rem;
    color: white;
}


/************************ Header and Navigation styles ************************/
nav {
    grid-area: 1 / 1 / 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 50px;*/
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
}

.nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1f3e80;
}

ul {
    display: flex;
    list-style-type: none;
}

.nav-menu ul li {
    margin: 0 10px;
}

.nav-menu a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    color: #ec1c24;
}

#logo,
#satellite {
    width: 10%;
    height: auto;
}

h1 {
    font-size: 3rem;
    margin-right: 20px;
    color: white;
    text-align: center;
}

#error {
    margin-top: 10px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: black;
    animation: animate 1.5s linear 3s;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

/************************ Index page ************************/
.secondary-container-index {
    grid-area: 2 / 1 / 5 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccd1d1;
    background-image: url("/static/bg_space.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.secondary-container-index a {
    text-decoration: none;
    color: #ccd1d1;
}

.secondary-container-index h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.secondary-container-index p {
    margin: 20px 10px;
    font-size: 1.5rem;
    text-align: center;
}

.tool-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.tool-visualization,
.tool-list{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tool-visualization:hover,
.tool-list:hover {
    background: rgba(236, 28, 36, 0.25);
    cursor: pointer;
}

.tool-visualization {
    margin-right: 30px;
}

.tool-list {
    margin-left: 30px;
}


/************************ Target Visualization - Sky Map ************************/
.sky-map {
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}
.sky-map h2 {
    margin-bottom: 25px;
    font-size: 1.7rem;
}

.sky-map h3 {
    margin-bottom: 5px;
    color: #ccd1d1;
    font-size: 1.1rem;
}

.sky-map-left-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sky-map-right-group {
    display: flex;
    flex-direction: column;
}

#aladin-lite-div {
    height: 500px;
    width: 500px;
}

#form-sky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#form-sky hr {
    margin-top: 10px;
    width: 100%;
    color: #ccd1d1;
}

#form-sky button {
    margin-top: 20px;
    width: 50%;
}

#csv-file {
    margin-top: 10px;
}

#target {
    width: 200px;
}

/************************ Target Visualization - Query Container ************************/
.query-container {
    grid-area: 2 / 3 / 4 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.or {
    margin: 20px 0;
    font-size: 1.3rem;
    color: white;
}

.query-single-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.query-single-target h2 {
    margin-bottom: 25px;
    font-size: 1.7rem;
    text-align: center;
}

.query-single-target h3 {
    margin-bottom: 5px;
    color: #ccd1d1;
    font-size: 1.1rem;
    text-align: center;
}

input {
    outline: none;
}

.h3-icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.h3-icon-row img {
    margin-left: 4px;
    padding-bottom: 4px;
    scale: .8;

}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:center;
}

.tooltip .top {
    min-width:200px;
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    color:#ccd1d1;;
    background-color:#140829;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#000000;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.top p {
    font-size: .8rem;
}


#form-csv-upload-target-data {
    margin-bottom: 30px;
}

.query-list h3 {
    margin-bottom: 5px;
    color: #ccd1d1;
    font-size: 1.1rem;
    text-align: center;
}

.query-list-input {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.query-input-radius {
    width: 75px;
}

.query-input-sector {
    width: 150px;
}

#query-list-search {
        margin-left: 4px;
    }

/************************ Target Visualization - Table ************************/
.results-container {
    margin-bottom: 5px;
    text-align: center;
}

.results-container a {
    color: #ccd1d1;
}
.results-container a:hover {
    color: #ec1c24;
}

.table-container {
    max-height: 285px;
    overflow-y: scroll;
    margin: 5px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    background-color: rgba(255,255,255,.2);
    border: 1px solid black;
	padding: 8px;
}

th,
thead {
    background-color: #1f3e80;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
}

tbody td {
    text-align: center;

}

tr:nth-child(even) {
  background-color: #ccd1d1 ;
}


/************************ Target List page ************************/
.target-list-input-container {
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.target-list-input-container h2 {
    margin-bottom: 25px;
    font-size: 1.7rem;
}

.target-list-input-container h3 {
    color: #ccd1d1;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.plot1 {
    grid-area: 3 / 1 / 4 / 2;
    align-self: center;
    height: 300px;
    width: 300px;
    margin: 4px;
}

.plot2 {
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    height: 300px;
    width: 300px;
    margin: 4px;
}

.plot3 {
    grid-area: 3 / 3 / 4 / 4;
    align-self: center;
    height: 300px;
    width: 300px;
    margin: 4px;
}

.plot4 {
    grid-area: 3 / 4 / 4 / 5;
    align-self: center;
    height: 300px;
    width: 300px;
    margin: 4px;
}


/************************ Media Queries ************************/
@media only screen and (max-width: 1300px) {
    h1 {
        font-size: 2rem;
    }

    h2,
    caption {
        font-size: 1rem;
    }

    #aladin-lite-div {
        height: 300px;
        width: 300px;
    }
    /******************* Nav bar *******************/
    .nav-menu a {
        font-size: 1.1rem;
    }

    /******************* Index page *******************/
    .secondary-container-index h3 {
        font-size: 1.5rem;
    }

    .secondary-container-index p {
        padding: 0 10px;
        font-size: 1.2rem;
    }

    /******************* Target Visualization page *******************/
    .main-container-target-visualization {
        height: 130vh;
    }

    .sky-map,
    .query-container {
        padding-top: 30px;
    }

    .sky-map h2,
    .query-container h2 {
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    .sky-map h3,
    .query-container h3 {
        font-size: .95rem;
    }

    .h3-icon-row img {
        margin-left: 2px;
        padding-bottom: 2px;
        scale: .6;
    }

    .or {
        margin: 10px 0;
        font-size: 1.1rem;
    }

    .search-input {
        margin: 10px 0 0 0;
    }

    #form-csv-upload-target-data {
    margin-bottom: 0;
    }

    .query-list {
        width: 90%;
        margin: 0;
    }

    .query-list-input {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .query-input-RA,
    #target {
        width: 160px;
    }

    .query-input-radius {
        width: 70px;
    }

    .query-input-sector {
        width: 145px;
    }

    .query-list h2 {
        text-align: center;
    }

    .results-container {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    tbody td {
        font-size: .9rem;
    }

    /******************* Target List page *******************/
    .main-container-target-list {
        height: 130vh;
    }

    .target-list-input-container {
        margin: 10px 10px 50px 10px;

    }

    .target-list-input-container h2 {
        font-size: 1.3rem;
    }

    .target-list-input-container h3 {
        font-size: 1rem;
    }
}
