<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TESS Proposal Tool</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <script src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js"></script>
    </head>
    <body>
        <div class="main-container-index">
            <nav>
                <div class="nav-header">
                    <img id="logo" src="/static/nasa_logo.svg" alt="nasa logo">
                    <h1>TESS Proposal Tool</h1>
                    <img id="satellite" src="/static/satellite.png" alt="TESS satellite">
                </div>
                <div class="nav-menu">
                    <ul>
                        <li><a href="{{ url_for('index')}}">Home</a></li>
                        <li><a href="{{ url_for('target_visualization_page')}}">Target Visualization Tool</a></li>
                        <li><a href="{{ url_for('target_list_page')}}">Target List Crafting Tool</a></li>
                    </ul>
                </div>
            </nav>
            <div class="secondary-container-index">
                <h1>Welcome!</h1>
                <p>This web app was created in order to allow users to interact with and explore data from the TESS mission. You can conveniently find data regarding observations,
                    such as which sector is being viewed and by which camera, as well as the observation date.
                </p>
                <p>To get started, simply select which tool you would like to use. From there, you can easily search by entering coordinates, an object name, or TIC ID.</p>
                <div class="tool-container">
                    <a class="tool-visualization" href="{{ url_for('target_visualization_page')}}">
                        <h3>Target Visualization Tool</h3>
                        <p>View astronomical images of a target via the Sky Map.</p>
                    </a>
                    <a class="tool-list" href="{{ url_for('target_list_page')}}">
                        <h3>Target List Crafting Tool</h3>
                        <p>View HR diagram, Magnitude and Distance histograms</p>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>