@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: grey;
}

/************************ Sky View ************************/
.sky-view {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ae90bf;
}

/************************ Query Container ************************/
.query-container {
    grid-area: 1 / 3 / 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #31c7f3;
}

.search-input {
    margin: 10px;
}

input {
    outline: none;
}

.search-method {
    display: flex;
    align-items: flex-start;

}

.search-method div {
    margin: 0 12px;
}

.search-csv {
    margin-top: 30px;
}

.search-csv-buttons {
    display: flex;
    justify-content: space-around;
}

.search-csv p {
    margin-bottom: 10px;
}

/************************ Target List Table ************************/
.table-display {
    grid-area: 2 / 3 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #61b66a;
}

.table-display button {
    align-self: flex-end;
    margin-right: 5%;
}

table {
    table-layout: fixed;
    width: 90%;
    border: solid 2px black;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    padding: 2px;
}

tbody td {
    text-align: center;
}

/************************ Linked Dynamic Plots ************************/
.plot1 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content:center;
    align-items: center;
    border-style: dashed;
}

.plot2 {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content:center;
    align-items: center;
    border-style: dashed;
}

.plot3 {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    justify-content:center;
    align-items: center;
    border-style: dashed;
}

.plot4 {
    grid-area: 3 / 4 / 4 / 5;
    display: flex;
    justify-content:center;
    align-items: center;
    border-style: dashed;
}